@import "tailwindcss";

@theme {
  --color-primary-50: #faf7f2;
  --color-primary-100: #f0e9dd;
  --color-primary-200: #e0d2bb;
  --color-primary-300: #c9b48e;
  --color-primary-400: #b39665;
  --color-primary-500: #8b6f3e;
  --color-primary-600: #6e5730;
  --color-primary-700: #573f24;
  --color-primary-800: #3d2c1e;
  --color-primary-900: #2a1e14;
  --color-primary-950: #1a120b;

  --color-accent-50: #fffbeb;
  --color-accent-100: #fef3c7;
  --color-accent-200: #fde68a;
  --color-accent-300: #fcd34d;
  --color-accent-400: #fbbf24;
  --color-accent-500: #d97706;
  --color-accent-600: #b45309;
  --color-accent-700: #92400e;
  --color-accent-800: #78350f;
  --color-accent-900: #451a03;

  --font-serif: "Lora", serif;
}
