@import "tailwindcss";

@theme {
  --color-primary-50: #f5f5f4;
  --color-primary-100: #e7e5e4;
  --color-primary-200: #c8c4c0;
  --color-primary-300: #a8a29e;
  --color-primary-400: #78716c;
  --color-primary-500: #57534e;
  --color-primary-600: #44403c;
  --color-primary-700: #3a3633;
  --color-primary-800: #2d2926;
  --color-primary-900: #1c1917;
  --color-primary-950: #0f0e0d;

  --color-accent-300: #fb9a7a;
  --color-accent-400: #f47c5a;
  --color-accent-500: #e17055;
  --color-accent-600: #c45a42;
  --color-accent-700: #a14832;
}
