@import "tailwindcss";

@theme {
  --color-navy-50: #f0f4f8;
  --color-navy-100: #d9e2ec;
  --color-navy-200: #bcccdc;
  --color-navy-300: #9fb3c8;
  --color-navy-400: #829ab1;
  --color-navy-500: #627d98;
  --color-navy-600: #486581;
  --color-navy-700: #334e68;
  --color-navy-800: #243b53;
  --color-navy-900: #102a43;
  --color-navy-950: #0e1729;

  --color-volt-50: #fefce8;
  --color-volt-100: #fef9c3;
  --color-volt-200: #fef08a;
  --color-volt-300: #fde047;
  --color-volt-400: #facc15;
  --color-volt-500: #eab308;
  --color-volt-600: #ca8a04;
  --color-volt-700: #a16207;
  --color-volt-800: #854d0e;
  --color-volt-900: #713f12;

  --font-heading: 'Manrope', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-navy-950);
  color: var(--color-navy-100);
}
